//Importamos las fuentes proporcionadas en un archivo ttf, y asignamos un nombre para usarlas en el proyecto con mayor facilidad
@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Lato-Black';
    src: url('../fonts/Lato-Black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

//creamos doas variables en las que se colocan los colores verde y morado solicitados
$color-verde: #009999;
$color-morado: #9a2d9b;
//Indicamos el formato de letra que deben ser usados en el area del body
body {
    font-family: 'Lato', sans-serif;
    font-size: 1em;
}

//indicamos que la navar ocupe un width de 100% de la pantalla, de esta forma no se sobrepondran otros elementos cuando se haga responsivo
.navbar-header {
    display: flex;
    width: 100%;
    justify-content: center;
}
//indicamos mediante el hover el cambio de letra cuando el cursor pase por los elementos de la navar
.navbar-nav {
    &:hover {
        font-family: 'Lato-Black', sans-serif;
    }
}
// para los elementos que se encuentran dentro del contenedor de la navar, se dan especificaciones para el formato global
.container-fluid {
    font-size: 1.2em;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    margin: 0 17% 0 17%;
}

//indicamos que los elementos de la navar se peguen de lado derecho, de acuerdo como se observa en el maquetado 
.nav{
    display: inline-flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}
//Incorporamos el elemento que mostrara visualmente la semparación de los elemntos li 
.navbar-nav li {
    display: inline-flex;
    align-items: center;
    &+li {
        &:before {
            content: " | ";
            color: $color-verde;
        }
    }
}
/* Con etiqueta semantica seccionamos los siguientes elementos, en los cuales se
encuentran los estilos correspondientes que forma la tarjeta del producto principal
además la cuestion dinamica del cursor, esta declarada con el hover en cada elemento
que lo necesita */
section {
    width: 70%;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    padding-left: 10%;
    .cardPrimaria {
        display: inline-flex;
        width: 28%;
        height: auto;
        margin: 1%;
        border-radius: 10px;
        background: $color-verde;
        border: 10px solid $color-verde;
        &:hover {
            background: $color-morado;
            font-family: 'Lato-Black', sans-serif;
            border: 10px solid $color-morado; // color de fondo al pasar el cursor
        }
        .cardSecundaria {
            border: 3px dotted white;
            border-radius: 10px;
            .cardTerciario {
                background-color: white;
                padding: 5px;
                border-radius: 10px;
                border: 1vh solid $color-verde;
                &:hover {
                    border-color: $color-morado; // color de fondo al pasar el cursor
                }
                .card-img-top {
                    width: 100%;
                    height: 70%;
                    padding: 0 15% 0 15%;
                    border-bottom: 3px dotted $color-verde;
                    &:hover {
                        border-color: $color-morado; // color de fondo al pasar el cursor
                    }
                }
                p {
                    height: 30%;
                    margin: 4vh 0 4vh 0;
                    text-align: center;
                }
            }
        }
    }
}
/* en la seccion aside, se ubican los elemento de las tajetas que solo se mostraran en 
visualizaciones de PC */
aside {
    display: inline-flex;
    width: 24%;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: column;
    .cardPri {
        width: 45%;
        display: inline-flex;
        margin-bottom: 2vh;
        height: 60%;
        border-radius: 10px;
        background: $color-morado;
        border: 8px solid $color-morado;
        .cardSec {
            border: 2px solid white;
            border-radius: 10px;
            .cardTer {
                background-color: white;
                padding: 2px;
                border-radius: 10px;
                border: 3px solid $color-morado;
                .card-img-top {
                    width: 80%;
                }
                p {
                    margin: 1vh 0 1vh 0;
                    font-size: 0.7em;
                    text-align: center;
                }
            }
        }
    }
}
//en esta área se encuentra el contenedor con los iconos sociales
.redes {
    width: 100%;
    text-align: right;
    .iconos {
        background: $color-morado;
        width: 4em;
        border-radius: 50%;
        align-items: flex-end;
        &:hover {
            background: $color-verde;
        }
    }
}
//para la funcion jquery en js, estos son los estilos que se le asignan cuando la miniatura es mostrada
#cardPreview {
    position: fixed;
    top: 15%;
    right: 8%;
    width: 10%;
    z-index: 9999;
    background: white;
    border: 5px solid $color-verde;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 10px;
    img {
        max-width: 100%;
        height: auto;
    }
    p {
        font-size: 0.8em;
        color: $color-morado;
        font-weight: bold;
        margin-top: 10px;
        text-align: center;
    }
}
/* En esta seccion , se encuentra los cambios en las responsividades solicitadas, se implemento el rompimiento en
en los width 1367, 1024 y 600, para cumplir con la visualizacion del maquetado solicitado (el rompimiento se hace
desde antes de llegar al necesario, para que no haya posibles errores).
En las indicaciones de los estilos de esta seccion responsiva, solo se van modificando los elementos que lo necesitan,
no es necesario incorporar nuevamente todos los elementos */
@media screen and (max-width: 1367px) {
    #cardPreview {
        width: 10%;
    }
    aside {
        width: 18%;
        .cardPri {
            width: 70%;
        }
    }
    section {
        width: 80%;
        padding: 0;
    }
    .container-fluid {
        margin: 0 5% 0 5%;
        font-size: 1.5em;
    }
    @media screen and (max-width: 1024px) {
        #cardPreview {
            display: none;
        }
        aside {
            display: none;
        }
        section {
            width: 100%;
            padding: 0;
            justify-content: center;
        }
        .container-fluid {
            margin: 0;
            font-size: 2em;
        }
        @media screen and (max-width: 600px) {       
            section {
                .cardPrimaria {
                    width: 90%;
                    .cardSecundaria {            
                        .cardTerciario {
                            display: inline-flex;
                            align-items: center;
                            .card-img-top {
                                width: 55%;
                                padding: 0 0 0 0;
                                border: none;
                            }
                            p{
                                width: 100%;
                                font-size: 1.3em;
                            }
                        }
                    }
                } 
            }
            .container-fluid{
                font-size: 2em;
            }
            .redes {
                padding-right: 1em;       
                .iconos {
                    width: 4em;
                    margin-right: 1em;
                }
            }
        }
    }
}